:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color: rgba(255, 255, 255, 0.87);
  --backgroundColor: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundColor: #ffffff;
    --color: #213547:
  }
}

@media (max-width: 350px) {
  nav {
    transition: all 1s ease-in-out;
    position: fixed;
    z-index: 1;
    background-color: var(--backgroundColor);
    height: 150vh;
    left: -100%;
  }
  .show {
    transform: translate(225%, 10%);
  }
  nav + div {
    width: 100vw;
  }
}

#root {
  /* max-width: 1280px; */
  padding: 1.5rem;
  display: grid;
  grid-template-columns: minmax(230px, 350px) 2fr;
}
